<div class="users-edit mb-5">
  <div class="container mb-5">
    <div class="form-heading text-center pt-4"><h2>アカウント編集</h2></div>
      <div class="form-body">
        <%= form_tag(user_path(@current_user),{action: 'update', method: 'patch', multipart: true}) do %>
        
        <div class="row">
          <div class="col-8 offset-2">
        
          <div class="form-group">
          <p>ユーザー名</p>
          <input name="name" value="<%= @current_user.name %>" class="form-control">
          </div>
          
          <!-- 画像アップ機能<p>画像</p>
          <input name="image" type="file">-->
          
          <div class="form-group">
          <p>メールアドレス</p>
          <input name="email" value="<%= @current_user.email %>" class="form-control">
          </div>
          <div class="form-group">
          <p>大学名</p>
          <input name="college" value="<%= @current_user.college %>" class="form-control">
          </div>
          <div class="form-group">
          <p>所属グループ</p>
          <input name="group" value="<%= @current_user.group %>" class="form-control">
          </div>
          <div class="form-group">
          <p>キャリアタイプ (就職.起業)</p>
          <input name="career" value="<%= @current_user.career %>" class="form-control">
          </div>
          <div class="form-group">
          <p>受講コース (Genius.Elite.未定)</p>
          <input name="course" value="<%= @current_user.course %>" class="form-control">
          </div>
          <div class="form-group">
          <p>興味のある業種 (3つまで)</p>
          <input name="interest_industry" value="<%= @current_user.interest_industry %>" class="form-control">
          </div>
          
          <input type="submit" value="保存する" class="buttom btn btn-block mb-5">
        <% end %>
          
         </div>
        </div>
      </div>
    
  </div>
</div>